
<template name="popupCursor_ors">
	<a class="btn-directions btn btn-sm btn-default btn-block" href="#">
		<i class="icon icon-route"></i> 
		{{i18n 'btn_ors_directions'}} 
		{{#if isFrom}} {{i18n 'btn_ors_to'}} {{else}} {{i18n 'btn_ors_from'}} {{/if}} 
	</a>

<!--	TODO	<div class="btn-group btn-block" data-toggle="buttons" role="group">
		<a class="btn btn-default btn-block dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			<i class="icon icon-route"></i> {{i18n 'btn_ors_directions'}} 
			<span class="caret"></span>
		</a>
		<ul class="dropdown-menu">
			<li><a class="btn-directions-from btn btn-block" href="#">
				{{i18n 'btn_ors_from'}}
			</a></li>
			<li><a class="btn-directions-to btn btn-block" href="#">
				{{i18n 'btn_ors_to'}}
			</a></li>
		</ul>
	</div> -->
</template>

<template name="popupPlace_ors">
	<a class="btn-directions btn btn-sm btn-default btn-block" href="#">
		<i class="icon icon-route"></i> 
		{{#if isFrom}} {{i18n 'btn_ors_to'}} {{else}} {{i18n 'btn_ors_from'}} {{/if}} 
	</a>

<!--	TODO	<div class="btn-group btn-block" data-toggle="buttons" role="group">
		<a class="btn btn-default btn-block dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			<i class="icon icon-route"></i> {{i18n 'btn_ors_directions'}} 
			<span class="caret"></span>
		</a>
		<ul class="dropdown-menu">
			<li><a class="btn-directions-from btn btn-block" href="#">
				{{i18n 'btn_ors_from'}}
			</a></li>
			<li><a class="btn-directions-to btn btn-block" href="#">
				{{i18n 'btn_ors_to'}}
			</a></li>
		</ul>
	</div> -->
</template>